.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    height: 30rem;
    z-index: 1000;
    background: linear-gradient(to bottom, #577277, #172038);

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .2rem;
    border: 5px solid #253a5e;
}

.startButton {
    width: 15rem;
    height: 5rem;
    background: transparent;
    border: none;
    font-size: 6rem;
    color: white;
    cursor: pointer;
}

.hide {
    display: none;
}

.timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);

    margin: 0;
    font-size: 10rem;
}